body {
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 0;
  
   
  }
  
  h1 {
    text-align: center;
   
  }
  
  .wrap{
    background-color: #fff;
    position: relative;
    z-index: 2;
  }
  
  .keyboard-output {
    display: block;
    box-sizing: border-box;
    width: 70%;
    min-height: 20%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1.5px;
    text-align: left;
    outline: none;
    resize: none;
  }
  
  .open-btn {
    display: block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 2px;
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    cursor: pointer;
  }
  
  .open-btn:hover {
    background-color: rgba(0, 0, 0, .03);
  }
  
  .open-btn:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
  
  }
  
  .keyboard {
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 1000px;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
  }
  
  
  
  .keyboard-on{
    display: block;
    animation-name: my-animation;
    animation-duration:.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  
  .keyboard-off{
    display: block;
    animation-name: my-animation-off;
    animation-duration:.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    }
  
  
  @keyframes my-animation {
    0%   { top: 150px; }
    100% { top: 420px; }
  }
  
  @keyframes my-animation-off {
    0%   { top: 420px; }
    100% { top: 150px; }
  }
  
  .keyboard__hidden {
    display: block;
  }
  
  .keyboard__keys {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .keyboard__key {
    box-sizing: border-box;
    width: 6%;
    min-height: 7%;
    padding: 3px 0 4px 0;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 2px;
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em gray;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
  
  }
  
  .keyboard__key--switch{
    display: initial;
    position: relative;
  }
  
  /* .keyboard__key--backspace{
    color: transparent;
    background-image: url(img/backspace.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
  } */
  /* .keyboard__key--back{
    color: transparent;
    background-image: url(img/left48.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
  } */
  /* .keyboard__key--next{
    color: transparent;
    background-image: url(img/right26.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
  } */
  
  .keyboard__key-top{
    position: absolute;
    left: 3px;
    top: 2px;
    font-size: 16px;
  }
  
  .keyboard__key-down{
    padding-left: 15px;
  }
  
  .keyboard__key--lang .keyboard__key-top{
    left: 3px;
    top: 0px;
    font-size: 12px;
  }
  
  .keyboard__key--lang .keyboard__key-down{
    padding-left: 17px;
  }
  
  
  .keyboard__key:hover {
    background-color: rgba(0, 0, 0, .03);
  }
  
  .keyboard__key:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
  }
  
  .keyboard__key--double {
    flex-shrink: 2;
    width: 12%;
  }
  
  .keyboard__key--space {
    width: 48%;
    height: 7%;
    box-sizing: border-box;
    color: transparent;
  }
  
  .keyboard__key--activable::after{
    content:"";
    top:10px;
    right:10px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .keyboard__key--active::after{
    background: #00ff00;
  }
  
  /* .keyboard__key--sound-on{
    color: transparent;
    background-image: url(img/sound_on.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .keyboard__key--sound-off{
    color: transparent;
    background-image: url(img/sound_off.png);
    background-repeat: no-repeat;
    background-position: center;
  } */
  
  /* .keyboard__key--voice-on{
    color: transparent;
    background-image: url(img/mic_on.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .keyboard__key--voice-off{
    color: transparent;
    background-image: url(img/mic_off.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
  } */
  
  @media (max-width: 1000px){
    body{
      font-size: 9px;
    }
    .keyboard-output{
      width: 90%;
      font-size: 16px;
      margin-bottom: 10px;
    }
  
    .keyboard{
      width: 100%;
      left: 50%;
      top: 50px;
      transform: translateX(-50%);
    
    }
  
    .keyboard__key{
      min-width: 35px;
      min-height: 20px;
      font-size: 16px;  
      margin: 1px;
    }
  
   
  
    .open-btn{
      width: 120px;
      height: 30px;
      padding-top: 2px;
      margin: 0 auto;   
      font-size: 20px;
    }
  
   
    .keyboard__key--activable::after{
      top:3px;
      right:3px;
      width: 5px;
      height: 5px;
    }
  
    .keyboard__key--sound-on{
      background-size:50%;
    }
    
    .keyboard__key--sound-off{
      background-size:50%;
    }
    
    .keyboard__key--voice-on{
      background-size:50%;
    }
    
    .keyboard__key--voice-off{
      background-size:50%;
    }
  
    @keyframes my-animation {
      0%   { top: 50px; }
      100% { top: 300px; }
    }
    
    @keyframes my-animation-off {
      0%   { top: 300px; }
      100% { top: 50px; }
    }
  
    .keyboard__key-top{    
     left: 1px;
     top: 1px;
      font-size: 14px;
    }
    .keyboard__key-down{
      padding-left: 12px;
    }
      
  
    .keyboard__key--lang .keyboard__key-top{
      left: 1px;
      top: 0px;
      font-size: 10px;
    }
    
    .keyboard__key--lang .keyboard__key-down{
     
      padding-left: 10px;
    }
  }
  
  @media (max-width: 700px){
    body{
      font-size: 7px;
    }
  
    .keyboard__key{
      min-width: 15px;
      min-height: 15px;
      font-size: 14px;  
      margin: 1px;
    }
  
    .keyboard__key-top{    
      left: 1px;
      top: 1px;
       font-size: 10px;
     }
  
     .keyboard__key-down{
      padding-left: 10px;
      }
      
  
     .keyboard__key--lang .keyboard__key-top{
      left: 0px;
      top: 0px;
      font-size: 8px;
    }
  
     .keyboard__key--lang .keyboard__key-down{
     
      padding-left: 0px;
    }
  
    @keyframes my-animation {
      0%   { top: 50px; }
      100% { top: 250px; }
    }
    
    @keyframes my-animation-off {
      0%   { top: 250px; }
      100% { top: 50px; }
    }
  }
  
  @media (max-width: 500px){
    .keyboard{
      width: 95%;
   
    }
  }